* {
  padding: 0;
  margin: 0;
}
header {
  height: 86px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(239, 245, 245);
}
header h1 {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  color: rgb(27, 128, 210);
  margin: 10px;
  padding: 6px;
}
header ul {
  display: flex;
  margin: 25px;
  font-size: 20px;
}
header ul li {
  list-style: none;
  padding: 2px;
  font-family: "Open Sans", sans-serif;
}
.form_body {
  max-width: 500px;
  margin: 0px auto 0px auto;
  height: 650px;
  background-color: rgb(238, 238, 245);
}

.form_body div.h1 {
  height: 200px;
  width: 100%;
  background-color: rgb(221, 223, 230);
  position: relative;
}
.form_body div h1 {
  text-align: center;
  margin: auto;
  padding-top: 80px;
  font-size: 40px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
.form_body p {
  width: 80%;
  margin: 40px 0px 16px 40px;
  font-family: "Open Sans", sans-serif;
}
.form_body form h3 {
  margin: 30px 0px 30px 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
}
form > div {
  margin-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
form > div > input {
  margin-top: 10px;
  margin-left: 66px;
  padding: 6px;
  border-radius: 6px;
  width: 250px;
}
@media only screen and (max-width: 474px) {
    form > div > input{
        margin-left: 34px;
        width: 200px;
    }
}
.password {
  margin-left: 36px;
}
@media only screen and (max-width: 474px) {
    .password{
        margin-left: 6px;
    }
}
.phone {
  margin-left: 58px;
}
@media only screen and (max-width: 474px) {
    .phone{
        margin-left: 28px;
    }
}
#submit {
  width: 100px;
  height: 36px;
  margin-left: 40px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(221, 223, 230);
  cursor: pointer;
  border-radius: 10px;
}
footer {
  display: flex;
  height: 200px;
  background-color: rgb(55, 42, 42);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: space-around;
}
.about_company {
  width: 30%;
}
.about_company h2 {
  padding: 4px;
  margin-bottom: 10px;
}
.link ul li {
  list-style: none;
  padding: 3px;
}
.link h2 {
  padding: 4px;
  margin-bottom: 10px;
}
.disclaimer {
  width: 30%;
}
.disclaimer h2 {
  padding: 4px;
  margin-bottom: 10px;
}
